<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/style.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>

    <div class="cart">Cart({{ cart }})</div>

    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <img v-bind:src="image">
          <a :href="url">LaVozdeGalicia</a>
          <!-- image goes here -->
        </div>
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <ul>
            <li v-for="detail in details">{{detail}}</li> <!--detail es cada elemento de "details"-->
          </ul>
          <div v-for="(variant, index) in variants" 
          :key="variant.id" 
          @mouseover="updateVariant(index)"
          class="color-circle active"

          :style="{ backgroundColor: variant.color}">
          
        
        </div> <!--:key da al elemento DOM una llave unica, como un id-->
          <button class="button"
          :class="{disabledButton: !inStock}"
          :disabled="!inStock"
          @click="addToCart">
          Add to Cart
        </button> <!--v-on:click para escuchar eventos /+= 1 expresion que estamos desencadenando-->
          <!--Tambien se puede usar @:click en vez de v-on:click para simlificar-->

        </div>
      </div>
    </div>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>